<h1>All Users</h1>

</br>
<% if @current_user.present?  %>
  You are logged in as <%= @current_user.email %>
<% end %>
</br>
</br>

<table class="factable">
  <tr>
    <td>Name</td>
    <td>email</td>
    <td>Admin ?</td>
    <td>Company</td>
    <td>Max Hours</td>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.fullname %></li>
      <td><%= u.email %></li>
      <td><%= u.admin%></li>
      <td><%= u.companyname%></li>
      <td><%= u.maxhours %></li>
      <br>
    </tr>
  <% end %>
</table>

<h2>Current Roster all Users</h2>
  <table class="factable">
    <tr>
      <th>DATE</th>
      <th>WORKER</th>
      <th>FACILITY</th>
      <th>START TIME</th>
      <th>FINISH TIME</th>
    </tr>
    <% User.all.each do |w| %>
      <% Journal.all.order(:day).each do |j| %>
        <% if w.id == j.user_id %>
          <tr>
            <td><%= j.day.strftime("%d-%b-%Y") %></td>
            <td><%= w.fullname %></td>
            <td><%= Facility.find_by(id: j.facility_id).facilityname %></td>
            <td><%= j.speriod.strftime("%I:%M %p") %></td>
            <td><%= j.eperiod.strftime("%I:%M %p") %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>

<h2>Hours allocated to each User</h2>
  <table class="factable">
    <tr>
      <th>WORKER</th>
      <th>HOURS</th>
    </tr>
    <% schdDate = Facility.first.reportdate  %>
    <% if !schdDate.wday==0 %>
    <%   schdDateStart = get_prev_daynum(schdDate, 0) %>
    <% else %>
    <%   schdDateStart = schdDate %>
    <% end %>

    <% User.all.each do |w| %>
      <tr>
        <td><%= w.fullname %></td>
        <td><%= User.workerHoursSchd(schdDateStart, w.id)/3600 %></td>
      </tr>
    <% end %>
  </table>
