<h1>Roster a Facility</h1>

<div class="NavCol">
<h4>Set the Roster Date</h4>
<%= form_tag facilities_setdate_path, method: :post do %>
  <%= date_field :reportdate, :reportdate %>
  <%= submit_tag 'setdate' %>
<% end %>


  </br>
  <%= link_to("View Facilities", { controller: "facilities", action: "index"}) %>
  </br>
  <%= link_to("View Journals", { controller: "journals", action: "index"}) %>
  </br>
  <%= link_to("View Shifts", { controller: "shifts", action: "index"}) %>
</div>
<div class="ContentCol">
  <%  f= @facility %>
  <%= f.select :facility_id , Facility.pluck( :facilityname, :id )   %>
</div>
