<h1>Shift view</h1>
<% s = @shift %>
<div class="NavCol">
<h4>Set the Roster Date</h4>
<%= form_tag facilities_setdate_path, method: :post do %>
  <%= date_field :reportdate, :reportdate %>
  <%= submit_tag 'setdate' %>
<% end %>


  </br>
  <%= link_to("View Facilities", { controller: "facilities", action: "index"}) %>
  </br>
  <%= link_to("View Journals", { controller: "journals", action: "index"}) %>
  </br>
  <%= link_to("View Shifts", { controller: "shifts", action: "index"}) %>
</div>
<div class="ContentCol">
<table class="factable">
  <tr>
    <th>Facility Name</th>
    <th>Workers req</th>
    <th>Start time</th>
    <th>Finish time</th>
    <th>Date</th>
  </tr>
  <tr>
    <td><%= s.facility.facilityname %></li>
    <td><%= s.numworkers %></li>
    <td><%= s.stime.strftime("%I:%M %p") %></li>
    <td><%= s.ftime.strftime("%I:%M %p")%></li>
    <td><%= get_day(s.weekday) %></li>
    <br>
  </tr>
</table>
</div>
