<h1>All Journals</h1>
<div class="NavCol">
<h4>Set the Roster Date</h4>
<%= form_tag facilities_setdate_path, method: :post do %>
  <%= date_field :reportdate, :reportdate %>
  <%= submit_tag 'setdate' %>
<% end %>


  </br>
  <%= link_to("View Facilities", { controller: "facilities", action: "index"}) %>
  </br>
  <%= link_to("View Journals", { controller: "journals", action: "index"}) %>
  </br>
  <%= link_to("View Shifts", { controller: "shifts", action: "index"}) %>
  </br>
  </br>
  </br>
  <%= link_to("New Journal", { controller: "journals", action: "new"}) %>

</div>

<div class="ContentCol">
<table class="factable">
  <tr>
    <th>Facility Name</th>
    <th>Week day</th>
    <th>Start time</th>
    <th>Finish time</th>
    <th>Worker assigned</th>
  </tr>
  <% @journals.each do |j| %>
    <tr>
      <td><%= j.facility.facilityname %></li>
      <td><%= j.day %></li>
      <td><%= j.speriod.strftime("%I:%M %p")%></li>
      <td><%= j.eperiod.strftime("%I:%M %p")%></li>
      <td><%= j.user.fullname %></li>
      <br>
    </tr>
  <% end %>
</table>
</div>
